.gradle
build

.DS_Store
*~
.~*

.asciidoctor

.idea
*.ipr
*.iws
*.iml
*.ids

github.properties

/docs

/.gtm/

subprojects/neubiro-manual/src/asciidoc/*.html
subprojects/neubiro-manual/src/asciidoc/*.pdf
